<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-8 col-12 footer-description">
        <p>
          대한당뇨병학회 서울시 마포구 마포대로 109 롯데캐슬프레지던트 101동 2104호<br>
          E-mail. diabetes@kams.or.kr<br>
          Copyrightⓒ Korean Diabetes Association. All rights reserved
        </p>
      </div>
    </div>
  </div>
</footer>
