$headerHeight: 68px;
$brandHeight: 54px;

header {
  background: var(--white);
  border-bottom: 1px solid var(--gray22);
  min-height: $headerHeight;

  &.not-ie {
    >div {
      opacity: 0;
    }
  }

  nav {
    min-height: $headerHeight;

    .navbar-brand {
      margin-right: 36px;
      width: 100px;
      height: 68px;
      max-width: calc(100% - 180px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url('/assets/img/logo.png');
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.navbar-toggler {
      width: 40px;
      height: 32px;
    }
  }

  .navbar-collapse {
    padding: 16px;

    ul li.nav-item {
      margin-right: 32px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      a {
        color: var(--gray25);
        font-size: 1.2rem;

        &.active {
          color: var(--blue6);

        }
      }

      .btn-website {
        margin: 0;
        height: 11px;
        background-image: url('/assets/icons/website.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .btn-logout {
        color: var(--red);
        font-weight: 600;
      }

      .btn-atndn {
        margin: 0 8px;
        width: 154px;
        height: 34px;
        color: var(--white);
        border-radius: 11px;
        background: var(--blue5);
      }

      &:hover {
        background: var(--gray7);

        a {
          color: var(--black);
        }
      }
    }

    ul li#LIVE .nav-link {
      position: relative;
      color: var(--orange2);
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;

      &::before {
        position: absolute;
        content: '';
        top: .5rem;
        left: .2rem;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--orange2);
      }

      &.active {
        color: var(--red);

        &::before {
          background: var(--red);
        }
      }
    }

    ul li#VOD .nav-link {
      color: var(--blue7);

      &.active {
        color: var(--blue1);
      }
    }
  }

  .btn-login {
    color: var(--gray25);
    font-size: 1.4rem;
    font-weight: 600;
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    -o-transition: all 2s ease;

    &.active {
      color: var(--gray16);
    }
  }

  .btn-atndn {
    width: 154px;
    height: 34px;
    color: var(--white);
    border-radius: 11px;
    background: var(--blue5);

    &.d-lg-none {
      width: 100px;
    }
  }

  .my-menus .btn-my-page {
    color: var(--gray14);
    font-size: 1.1rem;

    img {
      width: 26px;
      height: 26px;
    }
  }
}

.abstract {
  background: skyblue;
  border-radius: 15px;
  align-self: center;
  padding: 0 4px;

  .nav-link {
    color: var(--white) !important;
  }

  &:hover {
    .nav-link {
      color: var(--black) !important;
    }
  }
}

.abstract2 {
  background: rgb(103, 184, 188);
  border-radius: 15px;
  align-self: center;

  padding: 0 4px;

  .nav-link {
    color: var(--white) !important;
  }

  &:hover {
    .nav-link {
      color: var(--black) !important;
    }
  }
}

.help {
  background: var(--blue8);
  border-radius: 15px;
  align-self: center;

  padding: 0 4px;

  .nav-link {
    color: var(--white) !important;
  }

  &:hover {
    .nav-link {
      color: var(--black) !important;
    }
  }
}


@media (max-width: 1280px) {

  header {

    .abstract,
    .abstract2 {
      margin:1px;
    }

    .navbar-collapse ul li.nav-item {
      margin-right: 0;

      &>a {
        font-size: 1.1rem;
      }
    }

    nav .navbar-brand {

      margin-right: 0;
    }

    .content-inner {
      padding: 0 16px;
    }
  }
}
