<div class="timetable-wrapper">
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021. 11. 20 (SAT)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="korea-time-wrapper" *ngIf="koreaTime">
    <div class="korea-time">
      <img src="assets/img/south-korea.png">{{ koreaTime }}
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:15%">
        <col style="width:60%">
        <col style="width:25%">
      </colgroup>
      <thead>
        <tr>
          <th #th1>
            TIME
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()">
            </div>
          </th>
          <th #th2>
            PROGRAM
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()">
            </div>
          </th>
          <th #th3>
            SPEAKER
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goVod()">
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO 개회사 및 축사 -->
        <tr>
          <td>-</td>
          <td>
            <b>개회사 및 축사</b>
          </td>
          <td>권혁상(가톨릭의대)</td>
        </tr>
        <tr>
          <td class="session">14:00-15:50</td>
          <td class="session">
            PART I
          </td>
          <td class="session"></td>
        </tr>
        <tr>
          <td class="time">14:00-14:10</td>
          <td>한국인의 당뇨병</td>
          <td>홍상모(한양의대)</td>
        </tr>

        <tr>
          <td class="time">
            14:10-14:35
          </td>
          <td>임상영양요법</td>
          <td>권미라(서울대병원)</td>
        </tr>

        <tr>
          <td class="time">14:35-14:45</td>
          <td>당뇨병의 운동요법</td>
          <td>김원준(울산의대)</td>
        </tr>

        <tr>
          <td class="time">14:45-15:10</td>
          <td>경구약물을 이용한 혈당관리</td>
          <td>구유정(충북의대)</td>
        </tr>


        <tr>
          <td class="time">15:10-15:40</td>
          <td>주사제를 이용한 혈당관리</td>
          <td>강아름(부산의대)</td>
        </tr>

        <tr>
          <td>15:40-15:50</td>
          <td class="break">BREAK</td>
          <td class="break"></td>
        </tr>

        <tr>
          <td class="session">15:50-17:20</td>
          <td class="session">
            PART II
          </td>
          <td class="session"></td>
        </tr>

        <tr>
          <td class="time">15:50-16:20</td>
          <td>인슐린 주사법 및 자기혈당 측정</td>
          <td>송복례(서울성모병원)</td>
        </tr>

        <tr>
          <td class="time">16:20-16:35</td>
          <td>당뇨병 환자의 고혈압 관리와 항혈소판제 사용</td>
          <td>윤지성(영남의대)</td>
        </tr>

        <tr>
          <td class="time">16:35-16:55</td>
          <td>당뇨병 환자의 이상지질혈증 관리</td>
          <td>김태년(인제의대)</td>
        </tr>

        <tr>
          <td class="time">16:55-17:10</td>
          <td>당뇨병망막병증 및 신장병증</td>
          <td>김혜진(아주의대)</td>
        </tr>

        <tr>
          <td class="time">17:10-17:20</td>
          <td>당뇨병신경병증 및 발관리</td>
          <td>정진욱(전남의대)</td>
        </tr>

        <tr>
          <td class="session">-</td>
          <td class="session">
            2021 당뇨병 진료지침
          </td>
          <td class="session"></td>
        </tr>

        <tr>
          <td>-</td>
          <td>
            Web-based clinical decision supporting system (CDSS) 소개
          </td>
          <td>
            허규연(성균관의대)
          </td>
        </tr>
      </tbody>
    </table>
    <div class="more-info">
      ** CDSS 소개 강의 수강시간은 평점 취득에 인정되지 않으며, 행사일 언제든 시청이 가능합니다.
    </div>
  </div>
</div>
