<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <ng-container *ngFor="let speakerCategory of speakerCategories">
          <div class="title-wrapper">
            <h2>{{speakerCategory.categoryName}}</h2>
          </div>
          <article>
            <div class="list-wrapper row m-0">
              <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
                *ngFor="let speaker of speakerCategory.speakers">
                <app-speaker [speaker]="speaker"></app-speaker>
              </div>
            </div>
          </article>
        </ng-container>

        <!-- <div class="title-wrapper">
          <h2>Speakers</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'" *ngFor="let speaker of speakers">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article> -->

      </div>
    </div>
  </div>
</div>
