/* shine 애니메이션 */
@keyframes shineAnimation {
  from {
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.0) 45%,
        rgba(255, 255, 255, 0.5) 48%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(255, 255, 255, 0.5) 52%,
        rgba(255, 255, 255, 0.0) 57%,
        rgba(255, 255, 255, 0.0) 100%);
    background-position: -300px -300px;
    background-size: 600px 600px
  }

  to {
    background-repeat: no-repeat;
    background-position: 300px 300px;
  }
}

/* 경고메세지 아이콘 바운스 */
@keyframes movement {
  from {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }

  to {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }
}

/* 반전 효과 */
@keyframes reverse_rotation {
  0% {
    transform: rotateY(0deg)
  }

  15% {
    transform: rotateY(180deg)
  }

  30% {
    transform: rotateY(360deg)
  }

  100% {
    transform: rotateY(360deg)
  }
}

/* twinkle */
@keyframes twinkle {
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
}

/* slide x축 */
@keyframes slideX {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.title-wrapper {
  h2 {
    &.vod {
      margin-bottom: 10px;
    }

    span.vod-title-label {
      display: inline-block;
      margin-left: 24px;
      padding: 6px 16px;
      color: var(--red);
      font-size: 1.33rem;
      font-weight: 800;
      border-radius: 7px;
      background: var(--yellow1);
      line-height: 1;
      animation: shineAnimation 5s 4.5s infinite;
      -webkit-animation: shineAnimation 5s 1.5s infinite;
      animation-timing-function: cubic-bezier(.12, .89, .98, .47);
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
    }
  }
}

.icon-warning {
  display: inline-block;
  width: 35px;
  height: 31px;
  margin-right: 8px;
  background-image: url(/assets/img/icon-warning.png);
  background-size: contain;
  vertical-align: middle;
  animation: twinkle 1s infinite;
  -webkit-animation: twinkle 1s infinite;
  //animation: movement 1s ease 0s infinite alternate;
  //-webkit-animation: movement 1s ease 0s infinite alternate;
}

.slideX {
  animation: slideX 1s ease-in infinite;
  -webkit-animation: slideX 1s ease-in infinite;
}


.entry-alert-btn {
  display: none;
}

.modal-dialog {
  max-width: 800px;
}

.entry-alert {

  .modal-content {
    padding: 32px 32px 0 32px;
    max-width: 70%;
    background: var(--gray16);

    .modal-title {
      color: var(--white);
      font-size: 16px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);

      img {
        width: 6%;
        margin-right: 8px;
      }
    }

    .modal-description {
      padding: 16px 0;

      p {
        text-align: left;
        padding: 8px 0;
        font-size: 16px;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue5);
    }

    .btn-no-show {
      margin-top: 16px;
      color: var(--white);
      text-align: right;
    }
  }
}

.category {
  margin-bottom: 8px;
  padding: 16px;

  .category-title {
    margin-bottom: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
  }

  .vod-group-wrapper {
    margin-bottom: 8px;
    padding: 16px 16px 0 0;
  }

  .vod-group {
    display: flex;
    flex-direction: row;
    min-height: 90px;
    margin-bottom: 16px;
  }

  .img_box {
    flex: 1;
    max-width: 240px;
    min-width: 240px;
    cursor: pointer;

    width: 240px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;

    .thumbnail_style {
      display: block;
      width: auto;
      height: auto;
    }

    .thumbnail_title_style {
      margin-top: 14px;
    }

    .is-on-off {
      position: absolute;
      top: 2px;
      right: 2px;
      padding: 2px 8px;
      border-radius: 8px;
    }
  }

  .vod {
    margin-bottom: 8px;
    margin-left: 10px;
    flex: 1;

    .vod-info {
      &>div {
        margin-bottom: 8px;
      }

      .category {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black);
      }

      .title {
        font-size: 1.4rem;
        font-weight: 600;
      }

      .title-click {
        cursor: pointer;
      }

      .description {
        font-size: 1.2rem;
        color: var(--gray14);
        line-height: 1.5rem;
        word-break: keep-all;
      }
    }

    .speakers {
      display: flex;
      flex-direction: row;

      .speaker {
        display: flex;
        flex-direction: row;
        // position: relative;
        padding: 6px 6px 6px 6px;
        box-shadow: 1px 2px 3px RGBA(0, 0, 0, .05);
        border-radius: 4px;
        border: 1px solid var(--gray4);
        margin-right: 8px;

        .photo {
          position: absolute;
          top: 0;
          left: 10px;
          bottom: 0;
          width: 60px;
          height: 60px;
          margin: auto;
          background-color: var(--gray4);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 15px;
          border: 1px solid var(--gray4);
        }

        .speaker-name,
        .speaker-company {
          font-size: 1rem;
        }

        .speaker-name {
          margin-right: 4px;
          font-weight: bold;
        }

        .speaker-company {
          color: #636363;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .vod-group {
    flex-direction: column !important;
  }

  .img_box {
    margin-bottom: 4px;
  }

  .speakers {
    flex-direction: column !important;

    .speaker {
      margin-bottom: 8px;

      .speaker-company {
        word-break: break-all;
      }
    }
  }
}
