<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2 class="vod">Video On Demand<br class="d-block d-sm-none">
        </h2>
      </div>
    </div>
    <article>
      <div class="content-inner">
        <div class="category" *ngFor="let category of categories">
          <div class="category-title" *ngIf="category.categoryName">{{category.categoryName}}</div>
          <div class="vod-group-wrapper">
            <div *ngFor="let vod of category.vods" class="vod-group">
              <div class="img_box" (click)="vod.contents ? goDetail(vod) : ''">
                <img [src]="vod.thumbnailUrl || '/assets/img/thumbnail_temp.png'" alt="thumbnail_img"
                  class="rounded float-left thumbnail_style">

                <div *ngIf="vod.isOnOff; else isOffAir" class="is-on-off bg-danger text-white">ON</div>
                <ng-template #isOffAir>
                  <div class="is-on-off bg-dark text-white">OFF</div>
                </ng-template>
              </div>
              <div class="vod thumbnail_title_style">
                <div class="vod-info">
                  <div class="title title-click" *ngIf="vod.title" (click)="vod.contents ? goDetail(vod) : ''"
                    [innerHTML]="vod.title | safeHtml">
                  </div>

                  <div class="description" [innerHtml]="vod.description"></div>
                </div>
                <div class="speakers" *ngIf="vod.speakers">
                  <div class="speaker" *ngFor="let speaker of vod.speakers">
                    <div *ngIf="speaker.fullName" class="speaker-name">{{speaker.fullName}}</div>
                    <div *ngIf="speaker.company" class="speaker-company">{{speaker.company}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<button #entryAlertBtn class="entry-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
<div class="modal entry-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p>
            본 행사는 프로그램에 안내된 시간에 각 강의 영상의 재생버튼을 직접 눌러 수강하는 방식으로 영상이 자동재생되지 않습니다.<br><br>안내된 시간 이외에는 강의 재생이 불가하며, 별도의 질의응답은 진행하지
            않습니다.<br><br>강의는 다시보기를 제공하지 않으니 참고 바랍니다.
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
        <button class="btn btn-block btn-no-show" (click)="noModal()" data-toggle="modal" data-target="#entryAlert">
          1시간 동안 이 창을 열지 않음
        </button>
      </div>
    </div>
  </div>
</div>
